@import "variables";
@import "mixin";
@import "fonts";
.menus-restaurant__main{
  position: relative;
  z-index: 30;
  flex-direction: column;
  padding-bottom: 91px;
  padding-top: 70px;
  top: 90px;
}
.main-restaurant-body{
  z-index: 29;
  display: flex;
  flex-direction: column;
}