@font-face {
  font-family: "RockwellStd";
  src: local("RockwellStd"),
  url(../fonts/RockwellStd.otf) format("opentype");
}
@font-face {
  font-family: "RockwellStd-Light";
  src: local("RockwellStd-Light"),
  url(../fonts/RockwellStd-Light.otf) format("opentype");
}
@font-face {
  font-family: "Muli-ExtraBold";
  src: local("Muli-ExtraBold"),
  url(../fonts/Muli-ExtraBold.ttf) format("truetype");
}
@font-face {
  font-family: "RockwellStd-Bold";
  src: local("RockwellStd-Bold"),
  url(../fonts/RockwellStd-Bold.otf) format("opentype");
}