@import "variables";
@import "mixin";
@import "fonts";
.menu-restaurant__head{
@include flexEnd(column);
  height: 500px;
  position: relative;
  background-position: 24%;
  opacity: 1;
  overflow: hidden;
  top: 90px;
  align-items:center;
  width: 100%;
}
.menus-restaurant__head>* {
  z-index: 1;
}
.menu-restaurant__head, .head__bg:after{
  background-color: #140906;
  content: "";

}
.menus-restaurant__head .bg__img, .menus-restaurant__head .head__bg, .menus-restaurant__head .head__bg:after {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.menus-restaurant__head .bg__img {
  background-position: 50%;
  background-size: cover;
  opacity: 0;
  -webkit-transition: opacity 3s ease;
  transition: opacity 3s ease;
}
.menus-restaurant__head>* {
  z-index: 1;
}
.head__bg{
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  z-index: 1;
  opacity: 0.65;
}
.head__title{
  z-index: 1;
  position: relative;
  color: white;
  opacity: 0.65;
}
.title__h{
  font-family: Muli-ExtraBold;
  letter-spacing: .03em;
  margin-bottom: 20px;
  opacity: 1;
  text-transform: uppercase;
  line-height: 1.33em;
  font-weight: 700;
  font-size: 18px;
}
.head__selector{
  background-color: rgba(20,9,6,.1);
  z-index: 1;
  width: 100%;
  margin-top: 0;
  font-family: RockwellStd-Light;
  color: white;
  height: 99px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.selector__one{
  margin-left: 5%;
  font-weight: 200;
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-bottom: 4px solid transparent;
}
.selector__one:first-of-type {
  margin-left: 0;
  }
.menus-restaurant__head .selector__one_active>.head__selector-title {
  letter-spacing: .03em;
}  .head__selector>.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 99px;
}

.head__selector-title{
  margin: 0;
  color: white;
  font-size: 3.125rem;
  line-height: 1.1em;
}
.selector__one-active{
  font-weight: bold;
  display: flex;
  align-items: center;
  border-bottom: 4px solid #ffffff;
  box-sizing: border-box;
}
@media (max-width: 900px) {
  .head__selector-title{
    font-size: 36px;
  }
  .head__selector{
    height: 70px;
  }
}