@import "variables";
@import "mixin";
@import "fonts";

.c-footer{
  background-color: #fff;
  color: #ababab;
  margin-top: auto;
  min-height: 350px;
  padding: 50px 0 20px;
  position: relative;
  width: 100%;
}
.c-footer .o-wrapper {
  width: 100%;
}
.c-footer .c-footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: stretch;
  -ms-flex-pack: stretch;
  justify-content: stretch;
}
.c-footer .c-footer__inner .c-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 26%;
  flex: 1 1 26%;
}
.c-footer .c-footer__inner .c-part .c-row.one {
  width: 150px;
}
.c-footer .c-footer__inner .c-part .c-row {
  min-width: 105px;
}
.c-footer .c-footer__inner .c-part .underliner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.c-footer .c-footer__inner .c-part h5 {
  border-bottom: 4px solid #1f1917;
  color: #1f1917;
  font-family: RockwellStd-Bold;
  height: 36px;
  line-height: 1.4em;
  margin-bottom: 21px;
  width: 100%;
}
.c-footer .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.c-footer .social a .s-icon {
  height: 14px;
  width: 20px;
  margin-right: 21px;
}
.c-footer .c-footer__inner .c-part:last-of-type {
  -webkit-box-flex: 4;
  -ms-flex: 4 1 70%;
  flex: 4 1 70%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.c-footer .subscribe__form input[type=email] {
  border: 0;
  font-family: RockwellStd;
  font-size: 15px;
  border-bottom: 1px solid #ababab;
  color: #ababab;
  height: 35px;
  letter-spacing: .2px;
  max-width: 100%;
  padding: 0;
  width: 100%;
}
.c-footer .subscribe__form [type=checkbox] {
  height: 0;
  opacity: 0;
  width: 0;
}
.c-footer .subscribe__form [type=checkbox]+span:after {
  background-color: #fff;
  content: "";
  height: 6px;
  left: 3px;
  position: absolute;
  top: 5px;
  -webkit-transition: background-color .2s ease;
  transition: background-color .2s ease;
  width: 6px;
}
.c-footer .subscribe__form [type=checkbox]+span {
  cursor: pointer;
  font-family: Muli-Regular;
  font-line-height: 1.33em;
  font-size: 12px;
  padding-left: 21px;
  position: relative;
  text-align: left;
}
.c-footer .logo-footer .text span {
  bottom: 4.5px;
  font-family: Muli-ExtraBold, Serif;
  font-size: 9px;
  font-weight: 700;
  letter-spacing: .3px;
  position: relative;
  text-transform: lowercase;
}
.c-footer .logo-footer .text span:before {
  border-bottom: 1px solid #1f1917;
  bottom: -2px;
  content: "";
  height: 100%;
  position: absolute;
  right: 0;
  text-align: center;
  width: 9px;
}
.c-footer .subscribe__form .button.u-margin-none[type=submit], .c-footer .subscribe__form .wpcf7-form-control.wpcf7-submit {
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  height: auto;
  letter-spacing: .5px;
  max-width: 50%;
  padding: 12px 7px;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition-duration: .4s;
  font-family: Muli-Bold;
  transition-duration: .4s;
  -webkit-transition-property: all;
  transition-property: all;
  background-color: inherit;
  border: 4px solid #1f1917;
  color: #1f1917;
  margin-top: -11px;
  min-width: 100%;
  width: 100%;

  &:hover {
    background-color: #000;
    border: 4px solid #000;
    color: #fff;
  }
}
.c-footer .c-footer__inner .c-part .double-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.c-footer .subscribe__form .button.u-margin-none[type=submit] {
  margin-top: 13px!important;
}
.c-footer .c-footer__inner .c-part li {
  margin-bottom: 10px;
}
.c-footer .c-footer__inner .c-part li, .c-footer .c-footer__inner .c-part p {
  font-family: RockwellStd;
  font-size: 15px;
  letter-spacing: .2px;
  line-height: 1.47;
}


